.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 20px;
    position: relative;
    width: 100%;
}

.column,
.columns {
    box-sizing: border-box;
    float: left;
    width: 100%;
}

@media (min-width: 400px) {
    .container {
        padding: 0;
        width: 94%;
    }
}

@media (min-width: 550px) {
    .container {
        width: 94%;
    }
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66667%;
    }
    .two.columns {
        width: 13.3333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6667%;
    }
    .five.columns {
        width: 39.3333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6667%;
    }
    .eight.columns {
        width: 65.3333%;
    }
    .nine.columns {
        width: 74%;
    }
    .ten.columns {
        width: 82.6667%;
    }
    .eleven.columns {
        width: 91.3333%;
    }
    .twelve.columns {
        margin-left: 0;
        width: 100%;
    }
    .one-third.column {
        width: 30.6667%;
    }
    .two-thirds.column {
        width: 65.3333%;
    }
    .one-half.column {
        width: 48%;
    }
    .offset-by-one.column,
    .offset-by-one.columns {
        margin-left: 8.66667%;
    }
    .offset-by-two.column,
    .offset-by-two.columns {
        margin-left: 17.3333%;
    }
    .offset-by-three.column,
    .offset-by-three.columns {
        margin-left: 26%;
    }
    .offset-by-four.column,
    .offset-by-four.columns {
        margin-left: 34.6667%;
    }
    .offset-by-five.column,
    .offset-by-five.columns {
        margin-left: 43.3333%;
    }
    .offset-by-six.column,
    .offset-by-six.columns {
        margin-left: 52%;
    }
    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-left: 60.6667%;
    }
    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-left: 69.3333%;
    }
    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-left: 78%;
    }
    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-left: 86.6667%;
    }
    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-left: 95.3333%;
    }
    .offset-by-one-third.column,
    .offset-by-one-third.columns {
        margin-left: 34.6667%;
    }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
        margin-left: 69.3333%;
    }
    .offset-by-one-half.column,
    .offset-by-one-half.columns {
        margin-left: 52%;
    }
}

html {
    font-size: 62.5%;
}

body {
    color: #222;
    font-family: "open_sansregular", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    margin-bottom: 2rem;
    margin-top: 0;
}

h1 {
    font-size: 4rem;
    letter-spacing: -0.1rem;
    line-height: 1.2;
}

h2 {
    font-size: 3.6rem;
    letter-spacing: -0.1rem;
    line-height: 1.25;
}

h3 {
    font-size: 3rem;
    letter-spacing: -0.1rem;
    line-height: 1.3;
}

h4 {
    font-size: 2.4rem;
    letter-spacing: -0.08rem;
    line-height: 1.35;
}

h5 {
    font-size: 1.8rem;
    letter-spacing: -0.05rem;
    line-height: 1.5;
}

h6 {
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.6;
}

@media (min-width: 550px) {
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3.2rem;
    }
    h3 {
        font-size: 3.4rem;
    }
    h4 {
        font-size: 3rem;
    }
    h5 {
        font-size: 2.4rem;
    }
    h6 {
        font-size: 1.5rem;
    }
}

p {
    font-size: 1.6rem;
    margin-top: 0;
}

a {
    color: #1eaedb;
}

a:hover {
    color: #0fa0ce;
}

input,  select{
    font-size: 1.266em;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background-color: transparent;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-sizing: border-box;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    line-height: 160%;
    padding: 11px 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    border-color: #888;
    color: #333;
    outline: 0 none;
}

.button.button-primary,
button.button-primary,
input.button-primary[type="submit"],
input.button-primary[type="reset"],
input.button-primary[type="button"] {
    background-color: #33c3f0;
    border-color: #33c3f0;
    color: #fff;
}

.button.button-primary:hover,
button.button-primary:hover,
input.button-primary[type="submit"]:hover,
input.button-primary[type="reset"]:hover,
input.button-primary[type="button"]:hover,
.button.button-primary:focus,
button.button-primary:focus,
input.button-primary[type="submit"]:focus,
input.button-primary[type="reset"]:focus,
input.button-primary[type="button"]:focus {
    background-color: #1eaedb;
    border-color: #1eaedb;
    color: #fff;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    height: 38px;
    padding: 6px 10px;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -moz-appearance: none;
}

textarea {
    min-height: 65px;
    padding-bottom: 6px;
    padding-top: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #33c3f0;
    outline: 0 none;
}

label,
legend {
    display: block;
    font-weight: normal;
    margin-bottom: 0.5rem;
    font-size: 1.1em;
}

fieldset {
    border-width: 0;
    padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    width: inherit !important;
}

label > .label-body {
    display: inline-block;
    font-weight: normal;
    margin-left: 0.5rem;
}

ul {
    list-style: inside none circle;
}

ol {
    list-style: inside none decimal;
}

ol,
ul {
    margin-top: 0;
    padding-left: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3rem;
}

li {
    margin-bottom: 1rem;
}

code {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 90%;
    margin: 0 0.2rem;
    padding: 0.2rem 0.5rem;
    white-space: nowrap;
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

th,
td {
    border-bottom: 1px solid #e1e1e1;
    padding: 12px 15px;
    text-align: left;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

button,
.button {
    margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}

.u-full-width {
    box-sizing: border-box;
    width: 100%;
}

.u-max-full-width {
    box-sizing: border-box;
    max-width: 100%;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}

hr {
    border-top: 1px solid #e1e1e1;
    border-width: 1px 0 0;
    margin-bottom: 3.5rem;
    margin-top: 3rem;
}

.container::after,
.row::after,
.u-cf {
    clear: both;
    content: "";
    display: table;
}

@font-face {
    font-family: "open_sansbold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff2") format("woff2"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
}

@font-face {
    font-family: "open_sansextrabold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold-webfont.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold-webfont.woff") format("woff"), url("../fonts/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format("svg");
}

@font-face {
    font-family: "open_sanslight";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff2") format("woff2"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
}

@font-face {
    font-family: "open_sansregular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff2") format("woff2"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
}

html,
body {
    height: 100%;
}

header {
    border-bottom: 1px solid #56c0e8;
}

header h1 {
    color: #fff;
    font-size: 1.3em;
    margin: 35px 0 30px;
}

header h1 img {
    width: 100%;
}

header form {
    float: right;
    margin: 30px 0 0;
}

header form input,
header form label {
    float: left;
}

.ir_a_cuenta {
    background-color: #00b4e0;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 12px;
    font-weight: 300;
    height: 38px;
    letter-spacing: 0.1rem;
    line-height: 38px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 34px;
    padding: 0 31px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.ir_a_cuenta:hover,
.ir_a_cuenta:active {
    background-color: #278df0;
    color: #fff;
}

.logo {
    float: left;
    margin: 54px 0 35px;
}

.logo-holder .logo a {
    background: transparent url("../images/sprite.jpg") repeat scroll 0 0;
    display: block;
    height: 31px;
    overflow: hidden;
    text-indent: -9999px;
    width: 283px;
}

@media (max-width: 768px) {
    div.logo-holder.four.columns {
        width: 35%;
    }
    header h1 {
        width: auto;
    }
    header h1 img {
        width: 100%;
    }
    header form {
        margin-top: 0;
    }
    header form input,
    header form label {
        display: inline;
        float: left;
    }
    .loggintop {
        width: 26%;
    }
    .loggin.eight.columns {
        width: 440px;
    }
}

@media (max-width: 767px) {
    div.logo-holder.four.columns {
        width: 30%;
    }
    header h1 {
        width: auto;
    }
    header h1 img {
        width: 100%;
    }
    header form {
        margin-top: 0;
    }
    header form input,
    header form label {
        display: inline;
        float: left;
        margin: 10px 0 0;
        width: 100%;
    }
    .loggintop {
        width: 100%;
    }
    .loggin.eight.columns {
        width: 100%;
    }
}


header label {
    color: #fff;
    font-size: 0.75em;
    font-weight: normal;
    margin: 10px 0;
    text-align: right;
}

header input {
    font-size: 0.75em;
    margin-bottom: 5px;
}

header form .columns {}

header form div {
    float: right;
}

header input,
header label {
    display: inline-block;
    margin-left: 10px;
}

.forgot-pass {
    border-bottom: 1px solid #c3c3c4;
    color: #666;
    font-size: 1.0999em;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.uppercase {
    text-transform: uppercase;
}

.btn-lg {
    font-size: 1.7em;
    font-weight: normal;
    height: inherit;
    margin-top: 0.5em;
    padding: 10px 30px;
}

.color-0 {
    color: #fff;
}

.color-1 {
    color: #666;
}

#intro {
    background: transparent url("../images/intro-bg.jpg") no-repeat scroll center bottom / cover;
    padding: 0 0 30px;
}

.section-heading {
    font-family: "open_sansextrabold", sans-serif;
    margin: 60px auto 30px;
    text-transform: uppercase;
}

h3.section-heading {
    margin: 65px 0;
}

#intro .container {
    color: #fff;
}

.corporativo {
    color: #fff;
    font-family: "open_sanslight", sans-serif;
}

.corporativo span {
    display: block;
    text-transform: uppercase;
}

.box-empieza {
    border: 1px solid #ffb83c;
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 20px 0;
    width: 100%;
}

.box-empieza h3 {
    font-family: "open_sanslight";
    font-size: 2.8em;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0;
}

.box-empieza p {
    font-size: 1.6em;
}

.boton-amarillo,
input.boton-amarillo[type="submit"] {
    background: #ffb83c none repeat scroll 0 0;
    border: medium none;
    color: #fff;
}

.boton-amarillo:hover,
.boton-amarrillo:focus,
input.boton-amarillo[type="submit"]:hover,
input.boton-amarillo[type="submit"]:focus {
    background: #ecaa22 none repeat scroll 0 0;
    color: #fff;
}

.ancla {
    color: #fff;
    text-decoration: none;
}

.ancla:hover {
    color: #fff;
    text-decoration: underline;
}

#suscribir {
    background: #56c0e8 url("../images/carretera.png") no-repeat scroll right bottom / 60% auto;
    color: #fff;
    padding: 50px 0 150px;
}

#call-to-action {
    background: #56c0e8 none repeat scroll 0 0;
    color: #fff;
    padding: 30px 0;
}

#suscribir p {
    margin-bottom: 0;
}

#beneficios {
    background: rgba(0, 0, 0, 0) url("../images/carretera-2.png") no-repeat scroll left bottom / 27% auto;
    padding: 32px 0 89px;
}

#beneficios p {
    color: #666;
    font-size: 1.3em;
    margin-top: 15px;
}

#call-to-action p {
    font-size: 1.4em;
    margin: 0;
}

#alternativa {
    padding-top: 50px;
}

.tablas {
    margin: 30px 0 30px;
    padding: 0 8%;
}

.plan-tier {
    border: 1px solid #56c0e8;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    vertical-align: baseline;
}

.lift {
    position: relative;
    transition: all 0.075s ease-out 0s;
}

.lift:hover {
    box-shadow: 0 2px 6px rgba(39, 65, 90, 0.15);
}

.plan-tier h4 {
    margin: 20px 0;
}

.plan-tier {
    cursor: pointer;
    padding: 0;
}

.plan-tier p,
.callout p {
    margin: 0;
    font-size: 1.4em
}

.plan-tier p {
    color: #999;
}

.plan-tier .plan-price {
    font-size: 5em;
    font-weight: 300;
    letter-spacing: -3px;
}

.callout {
    background: #56c0e8 none repeat scroll 0 0;
    color: #fff;
    margin-top: 0;
}

.callout p {
    color: #fff;
    line-height: 135%;
}

.callout strong {
    display: inline-block;
    font-size: 1.3em;
    margin: 15px 0;
}

.plan-tier.callout h6 {
    background: #fff none repeat scroll 0 0;
    border-radius: 0 0 5px 5px;
    color: #56c0e8;
    display: inline-block;
    font-size: 1em;
    padding: 6px 15px;
}

.inner-table {
    padding: 0 18px 29px;
}

.inner-table small {
    color: #999;
}

.tabla-1 {
    left: 35px;
    margin-top: 8%;
    position: relative;
}

.tabla-3 {
    margin-top: 8%;
    position: relative;
    right: 35px;
}

ul.list-unstyled {
    font-size: 1.4em;
    list-style-type: none;
    margin-top: 43px;
}

ul.list-unstyled li {
    margin-bottom: 0;
}

.atencion {
    font-size: 0.9em;
    margin-top: 50px;
}

#tab-section {
    background: transparent url("../images/intro-bg.jpg") no-repeat scroll center bottom / cover;
    padding: 50px 0 30px;
}

#tab-section .container {
    color: #fff;
}

#tab-section input[type="email"],
#tab-section input[type="text"],
#tab-section input[type="password"],
#tab-section select {
    color: #333;
}

.pasos {
    min-height: 650px;
}

#msform {
    margin: 50px auto;
    position: relative;
    text-align: center;
}

#msform fieldset {
    border: 0 none;
    box-sizing: border-box;

    width: 100%;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform h3 {
    font-family: "open_sansbold";
    font-size: 1.65em;
    font-weight: normal;
    text-transform: uppercase;
}

#msform label {
    text-align: left;
}

#msform input,
#msform textarea {
    box-sizing: border-box;
    font-size: 13px;
    margin-bottom: 10px;
    width: 100%;
}

#msform .action-button {
    background: #ffb83c none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    width: initial;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background: #ecaa22 none repeat scroll 0 0;
    color: #fff;
}

#msform .transparent {
    background: transparent none repeat scroll 0 0;
    font-size: 1.1em;
    font-weight: normal;
    text-decoration: underline;
}

#msform .transparent:hover,
#msform .transparent:focus {
    background: transparent none repeat scroll 0 0;
    color: #ccc;
}

#msform .tablas {
    padding: 0 10px;
}

#msform .plan-tier {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #56c0e8;
}

#msform .plan-tier h4 {
    font-size: 2em;
}

#msform .plan-tier.callout h6 {
    background: #56c0e8 none repeat scroll 0 0;
    color: #fff;
    font-size: 1.6em
}

#msform .callout p {
    color: #56c0e8;
    margin: 10px 0;
}

#msform .callout strong {
    font-family: "open_sansbold", sans-serif;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

#msform .tabla-1 {
    left: 15px;
}

#msform .tabla-3 {
    right: 15px;
}
@media (max-width: 480px) {

    .pasos {
 
}
    .logoption {
        text-align: center!important;
        margin: 0 0 20px 0;
    }
    .logo {
        margin: 30px auto;
    }
    #msform {
        margin: 0px auto;
    }

    ul.list-unstyled{
        margin: 0 0 9px 0;
    }
    .ir_a_cuenta {
        margin: 0 0 9px 0;
    }
    div.logo-holder.four.columns {
        width: 70%;
    }
    header h1 {
        margin: 20px 0;
        width: auto;
    }
    header h1 img {
        width: 100%;
    }
    header form {
        margin-top: 0;
    }
    header form input,
    header form label {
        display: inline;
        float: left;
        margin: 10px 0 0;
        width: 100%;
    }
    .loggintop {
        width: 100%;
    }
    .loggin.eight.columns {
        width: 100%;
    }
}

.boton-gris {
    background: #fff none repeat scroll 0 0;
    font-family: "open_sansbold", sans-serif;
    font-size: 9px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
    padding: 0;
    width: 90%;
}

#progressbar {
    counter-reset: step;
    margin-bottom: 30px;
    overflow: hidden;
}

#progressbar li {
    color: transparent;
    float: left;
    font-size: 0;
    list-style-type: none;
    position: relative;
    text-transform: uppercase;
    width: 33%;
}

#progressbar li::before {
    background: white none repeat scroll 0 0;
    border-radius: 15px;
    color: #333;
    content: counter(step, decimal);
    counter-increment: step;
    display: block;
    font-size: 11px;
    line-height: 30px;
    margin: 0 auto 5px;
    position: relative;
    width: 30px;
    z-index: 1;
}

#progressbar li::after {
    background: white none repeat scroll 0 0;
    content: "";
    height: 5px;
    left: -50%;
    position: absolute;
    top: 13px;
    width: 100%;
    z-index: 0;
}

#progressbar li:first-child::after {
    content: none;
}

#progressbar li.active::before,
#progressbar li.active::after {
    background: #56c0e8 none repeat scroll 0 0;
    color: #fff;
}

.link-form {
    display: inline-block;
    font-size: 0.7em;
    margin-bottom: 20px;
    text-decoration: none;
}

footer {
    border-top: 3px solid #5bc6e8;
    color: #fff;
    padding: 30px 0;
}

footer h2 {
    color: #999;
    font-size: 1.5em;
    margin: 0;
}

footer p {
    font-size: 0.8em;
    margin: 5px 0;
}

footer ul {
    font-size: 0.8em;
    margin-bottom: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #999;
}

footer .fa {
    color: #56c0e8;
}

.custom-popup-class .mfp-container {
    padding-bottom: 40px;
    padding-top: 40px;
}

.custom-popup-class .mfp-content {
    width: 100%;
}

#popup {
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
}

#popup .mfp-close {
    color: #fff;
    right: 1px;
    text-align: right;
    top: -44px;
}

.popup-content {
    background: transparent none repeat scroll 0 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    color: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: -3px;
    width: 100%;
}

.modal-head {
    margin-bottom: 40px;
}

.popup-content h3 {
    font-size: 2em;
}

.popup-content h3#error_modal {
    font-size: 1.7em;
}

.popup-content p a {
    color: #0fa0ce;
    text-decoration: underline;
}

.popup-content p a:hover {
    color: #fff;
    text-decoration: none;
}

.modal-body p {
    font-size: 0.75em;
    margin: 0;
}

#addPAC,
#addSER,
#addPAT {
    cursor: pointer;
}

.state-selected.selected_0ff {
    background-color: #65646a !important;
}

.modal_pat input[type="email"],
.modal_pat input[type="text"],
.modal_pat input[type="password"],
.modal_pat select {
    color: #333;
}

.modal_pat .action-button:hover,
.modal_pat .action-button:focus {
    background: #ecaa22 none repeat scroll 0 0;
    color: #fff;
}

.modal_pat .action-button {
    background: #ffb83c none repeat scroll 0 0;
    border: 0 none;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    width: initial;
}

.mfp-close-btn-in .mfp-close {
    color: #0fa0ce;
}

.step1.disabled,
.step3.disabled {
    background-color: #65646a !important;
    opacity: 0.5;
}

#preview-area {
    -moz-user-select: none;
    background-color: #fff;
    border-radius: 3px;
    display: none;
    height: auto;
    min-height: 100px;
    padding: 40px;
    width: 400px;
    z-index: 999;
}

#preview-area .cargando {
color: #414141;
    font-size: 1.4em;
    text-align: center;
}

.spinner {
    font-size: 10px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    width: 100px;
}

.spinner > div {
    animation: 1.2s ease-in-out 0s normal none infinite running sk-stretchdelay;
    background-color: #33c3f0;
    display: inline-block;
    height: 100%;
    width: 6px;
}

.spinner .rect2 {
    animation-delay: -1.1s;
}

.spinner .rect3 {
    animation-delay: -1s;
}

.spinner .rect4 {
    animation-delay: -0.9s;
}

.spinner .rect5 {
    animation-delay: -0.8s;
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
    }
}

.deco {
    background-color: #5bc6e8;
    height: 5px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.deco2 {
    background-color: #5bc6e8;
    bottom: 182px;
    height: 5px;
    position: relative;
    width: 100%;
    z-index: 1;
}

footer h4,
footer ul li,
footer p {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

footer h3 a {
    background: transparent url("../images/sprite.jpg") repeat scroll 0 -37px;
    display: block;
    float: left;
    height: 54px;
    margin: 20px 0 0;
    text-indent: -9999px;
    width: 206px;
}

footer h4,
footer p {
    color: #4c4c4c;
    float: left;
    font-size: 1.367em;
    line-height: 150%;
    margin: 0;
    width: 100%;
}

footer h4 {
    font-size: 1.567em;
    font-weight: bolder;
}

.corporativo {
    margin-bottom: 20px;
    margin-top: 20px;
}

.footernav li {
    float: left;
    line-height: 100%;
    margin: 0;
}

.footernav {
    display: inline-block;
    font-family: arial;
    font-size: 1.5em;
    margin-bottom: 12px;
}

.footernav li {
    background: transparent url("../images/sprite.jpg") no-repeat scroll -310px -15px;
    display: inline-block;
    padding: 0;
    width: 100%;
}

.footernav li a {
    color: #666;
    display: inline-block;
    float: left;
    font-size: 0.867em;
    padding: 3px 0 3px 10px;
    text-decoration: none;
}

.footernav li a:hover {
    text-decoration: underline;
}

.error-form,
#flashMessage {
    background: #FF9C2A none repeat scroll 0 0;
    color: rgb(255, 255, 255);
    display: none;
    max-width: 500px;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    font-size: 1.4em;
    border-radius: 3px;
}

#pat_parraf {
    background-color: #56c0e8;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
}
 #addOne{
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: underline;
   
    color: #fff;
    
}
@media (max-width: 480px) {
    .box-empieza {
        margin-top: 30px;
    }     

    h3.section-heading {
        margin: 20px 0;
    }     

    .tabla-1{
        margin: 20px 0;
    }     
    footer h4{
        margin-top: 10px;
    }     

    .plan-tier.callout h6 {
  
    font-size: 1.2em;
  
}
    .section-heading {
        font-size: 1.6em;
    }
    #beneficios {
        background-size: 50% auto;
    }
    .tabla-1 {
        left: 0 !important;
    }
    .tabla-3 {
        right: 0 !important;
    }

    .corporativo {
        margin: 0px;
    }     
}

@media (max-width: 600px) {
    .btn-lg {
        font-size: 1em;
    }
    .tablas {
        padding: 0;
    }
    
   
    header label {
        text-align: left;
    }
}

@media (max-width: 768px) {
    .tablas {
        padding: 0 5%;
    }
    .tabla-1 {
        left: 30px;
    }
    .tabla-3 {
        right: 30px;
    }
}

@media (max-width: 1000px) {}

@media (max-width: 1200px) {}
